<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<div *ngIf="!router.url.includes('signup')">
    <div *ngIf="!router.url.includes('listall')">
      <h1 class="mypage">Welcome to Login Page</h1>
      <div class="form-popup" id="myForm">
        <form class="form-container">
          <div class="center">
          <img src="/assets/login.png"
          style="width: 150px;height: 150px;"/></div>
      
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required
          [(ngModel)]="detail.username">
      
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required
          [(ngModel)]="detail.password">
          
          <div>
          <label id="errorLabel" style="color: white; background-color: orangered; margin: 10px; margin-left: 90px;" *ngIf="submitted">Username or Password Invalid</label>
          </div>
    
          <button style="margin: 20px;" type="submit" class="btn" (click)="check()"><i class="fa fa-sign-in" style="font-size:25px;color:white"></i> Login</button>
          <label style="margin-left: 10px; margin-right: 20px; margin-top: 20px; font-size: 18px; color: red;">You not have account please signup.</label>
          <button class="cancel" style="font-size: 20px; color: white;" (click)="openSignup()">SignUp</button>
        </form>
      </div>
      </div>
      </div>     
      <router-outlet></router-outlet>
</body>
</html>