.mypage{
    font-size: 70px;
    text-align: center;
    margin-top: 100px;
    font-style: oblique;
    color: white;
}

.mylogin{
  font-size: 50px;
  text-align: center;
  font-style: oblique;
  color: black;
}

.body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* The popup form - hidden by default */
.form-popup {
  bottom: 0;
  max-width: 400px;
  margin-left: 750px;
  right: 15px;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 400px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  background: #f1f1f1;
  border: none;
  border-radius: 8px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: rgb(200, 238, 238);
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 90%;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 25px;
  border-radius: 10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  cursor: pointer;
  border: none;
  background-color: red;
  border-radius: 8px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
